/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100&family=Sometype+Mono&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    overflow: hidden; /* Hide scrollbars */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
        background-image: url('images/Dystopia.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    text-align: center;
}

/* Style the header with a dystopian gradient background, padding, and a border */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #1a1a1a, #0d0d0d, #0a0a0a);
    padding: 10px;
    border-bottom: 3px solid #ff0000;
    opacity: 0.8;

}

header h1 {
    /* margin: auto auto; */
    text-align: center;
    flex: 1; 
    color: #ff0000;
}

#music-toggle {
    background-color: #007bff; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
    padding: 10px 20px; /* Adjust the padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #music-toggle:hover {
    background-color: #0056b3; /* Change this to your desired hover background color */
  }

/* Style the game title */


main {
    padding: 10px;
    background-color: #1a1a1a;
    opacity: 0.7;
}

main h1 {
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    margin: 20px 0;
}

main h2 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

/* Style the game buttons */
.game-button {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 34px;
    padding: 15px 30px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #1a1a1a, #0d0d0d, #0a0a0a);
}

/* Style the game buttons on hover */
.game-button:hover {
    background: linear-gradient(135deg, #0d0d0d, #0a0a0a, #1a1a1a);
}

/* Center align the game buttons */
section.buttons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0px auto;
    text-align: center;
    background-color: #1a1a1a;
    opacity: 0.9;
    margin-top: auto;
}

section#container {
    color: white;
    background-color: #1a1a1a;
    padding-bottom: 15px;
    opacity: 0.7;
    font-size: 32px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

p {
    margin: 0;
    padding: 0;
}
