/* Reset some default styles */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    color: white;
    background-image: url('images/Dystopia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Style the header with a background color, padding, and a border */
header {
    background-color: #333;
    padding: 10px;
    border-bottom: 3px solid #f00;
}

/* Style the game title */
.game-title {
    font-size: 30px;
    color: #f00;
}

/* Style the game instructions */
.game-instructions {
    font-size: 24px;
    margin: 10px 0;
}

/* Style the main content area */
main {
    padding: 20px;
}

/* Style the game buttons */
.game-button {

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the game buttons on hover */
.game-button:hover {
    background-color: #0056a0;
}

/* Center align the game buttons */
.buttons {
    text-align: center;
}

#container {
    padding: 10px;
    font-size: 24px;
    font-weight: 800;
    height: 40px;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}




#current-result {
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
    margin: 20px 0;
}

#final-result {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
